@import "../../node_modules/normalize.css/normalize";

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
body {
  position: relative;
}
body > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
#view {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  > canvas {
    image-rendering: pixelated;
    width: 100vmin;
    height: 100vmin;
  }
}
#code {
  font-family: monospace;
}
